@import "tailwindcss";
@import "./assets/styles/fonts.css";

html,
body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
}

.enter-animation {
  animation: enter-fade 1s;
}
@keyframes enter-fade {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.leave-animation {
  animation: leave-fade 1s;
}
@keyframes leave-fade {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}
button {
  cursor: pointer;
}
